
<div class="header-container">
    <div class="video-container">
        <video autoplay loop muted id="background">
            <source src="building_site.mp4" type="video/mp4">
        </video>
    </div>
</div>
<div class="box box-solid box-primary center-block" style="width: 360px">
    <div class="box-header text-center">
        <h3 class="box-title">Login</h3>
    </div>
    <div class="box-body">
        <div class="login-box-body">
            <form ng-submit="authCtrl.login()" method="post">
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" ng-model="authCtrl.user.username" placeholder="Usuário" autofocus>
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" ng-model="authCtrl.user.password" placeholder="Senha">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <a ng-href="" ng-click="authCtrl.solicitarSenha()">Esqueci minha senha</a>
                    <div class="col-xs-4 pull-right">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Logar</button>
                    </div><!-- /.col -->
                </div>
            </form>
        </div>
    </div><!-- /.box-body -->
    <div class="overlay" ng-show="!authCtrl.isLoaded">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div><!-- /.box -->