
<div class="box box-solid box-primary center-block" style="width: 360px">
    <div class="box-header text-center">
        <h3 class="box-title">Solicitar nova senha</h3>
    </div>
    <div class="box-body">
        <div class="login-box-body">
            <form action="" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" ng-model="authCtrl.email" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4 pull-left">
                        <button type="button" ng-click="authCtrl.cancelar()" class="btn btn-default btn-block btn-flat">Cancelar</button>
                    </div>
                    <div class="col-xs-4 pull-right">
                        <button type="button" ng-click="authCtrl.enviar()" class="btn btn-primary btn-block btn-flat">Enviar</button>
                    </div><!-- /.col -->
                </div>
            </form>
        </div>
    </div><!-- /.box-body -->
    <div class="overlay" ng-show="!authCtrl.isLoaded">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div><!-- /.box -->

