<a ng-href="" ng-click="grid.appScope.view(row.entity.id)" title="Visualizar" class="m5L m10t"><i class="fa fa-info-circle"></i></a>
<a ng-href="" ng-click="grid.appScope.edit(row.entity.id)" title="Editar registro" class="m5L m10t"><i class="fa fa-pencil"></i></a>
<a ng-href="" ng-click="grid.appScope.remove(row.entity.id)" title="Apagar registro" class="m5L m10t"><i class="fa fa-times delete-registry"></i></a>