<script>
    $(function () {
        $(".ngdialog-content").draggable();
    });
</script>
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-th-list">&nbsp; <em class="text-muted">Checkout</em></i>
            <em class="text-muted"> #{{list.orderSelected.id}}</em>
    </div><!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <div class="col-sm-8">
            <label >User: </label>
            {{list.orderSelected.usuario.nome}}
        </div>
        <form class="form-horizontal">
            <div class="box-body">
                <table class="table table-condensed table-striped table-hover">
                    <tr>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    <tr ng-repeat="prod in list.orderSelected.products">
                        <td>{{prod.description}}</td>
                        <td>{{prod.price | currency:'€'}}</td>
                    </tr>
                </table>
            </div><!-- /.box-body -->
            <div class="box-footer">
                        <div class="form-group">
                            <div class="col-sm-8">
                            </div>
                            <div class="col-sm-4">
                                <label >Total: </label>
                                {{list.sumTotal(list.orderSelected.products) | currency:'€'}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <label for="creditcard" >Credit Card: </label>
                                <input type="text" id="creditcard" ng-model="list.orderSelected.credit_card">
                            </div>
                            <div class="col-sm-1">
                                <i class="fa fa-cc-visa"></i>
                            </div>
                            <div class="col-sm-1">
                                <i class="fa fa-cc-mastercard"></i>
                            </div>
                        </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-success" ng-click="list.checkout(); closeThisDialog();"> <i class="fa fa-check"></i> Buy</button>
                    <button type="button" class="btn btn-danger" ng-click="closeThisDialog()"> <i class="fa fa-times"></i> Close</button>
                </div>
            </div><!-- /.box-footer -->
        </form>
    </div>
</div>