<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <table class="table table-striped table-condensed">
            <tr>
                <th>ID</th>
                <th>Total Itens</th>
                <th>Total Price </th>
                <th>Status </th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="order in list.orders">
                <td>{{order.id}}</td>
                <td>{{order.products.length}}</td>
                <td>{{list.sumTotal(order.products) | currency:'€ '}}</td>
                <td>{{order.status | statusFilter}}</td>
                <td>
                    <a ng-show="order.status === 'RE'" href="javascript:;" data-ng-click="list.showCheckoutForm(order)" title="Checkout Order"><i class="fa fa-credit-card"></i>&nbsp;&nbsp;&nbsp; |&nbsp; </a>
                    <a ng-show="order.status === 'RE'" href="javascript:;" data-ng-click="list.cancel(order.id)" title="Cancel Order"><i class="fa fa-ban"></i></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="overlay" ng-show="!list.isLoaded">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>