<div class="dialog-contents">
    <h3 class="ngdialog-message text-bold"><em>Deseja realmente alterar a senha?</em></h3>
    <br />
    <div class="ngdialog-buttons">
        <button type="button" class="btn btn-primary" ng-click="confirm()"> <i class="fa fa-check"></i> Sim</button>
        <button type="button" class="btn btn-danger pull-right" ng-click="closeThisDialog()"> <i class="fa fa-times"></i> Não</button>
    </div>
</div><!-- /.modal -->