<script>
    $(function () {
        $(".ngdialog-content").draggable();
    });
</script>
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-rss">&nbsp; <em class="text-muted">Mensagem</em></i>
        <div class="box-tools pull-right">
        </div>
    </div><!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <form name="form" class="form-horizontal css-form" ng-submit="list.sendMessage()" >
            <div class="box-body">
                <textarea id="mensagem" rows="5" cols="40" ng-model="list.mensagem" required="required"></textarea>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-danger" ng-click="closeThisDialog()"> <i class="fa fa-times"></i> Cancelar</button>
                    <button type="submit" ng-disabled="!form.$valid" class="btn btn-primary"> <i class="fa fa-comment"></i> Enviar</button>
                </div>
            </div><!-- /.box-footer -->
        </form>
    </div>
</div>