<a ng-href="" ng-click="grid.appScope.edit(row.entity)" title="Editar registro" class="m5L m10t"><i class="fa fa-pencil"></i></a>
<a ng-href="" ng-click="grid.appScope.remove(row.entity)" title="Apagar registro" class="m5L m10t"><i class="fa fa-times delete-registry"></i></a>
<a ng-href="" ng-if="grid.appScope.getAuthUserName === 'Administrador TechX'" ng-click="grid.appScope.resetPass(row.entity)" title="Redefinir senha" class="m5L m10t"><i class="fa fa-unlock-alt"></i></a>