<style>
    treecontrol.tree-classic li .tree-label.c-label {color: #44c}
    treecontrol.tree-classic li .tree-selected.c-labelSelected {background-color: white}
</style>
<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa {{ctrl.title.icon}}"></i>&nbsp;{{ctrl.title.label}}
        <div class="box-tools pull-right">
            <a href="javascript:;" data-ng-click="ctrl.cancel()" title="Voltar"><i class="fa fa-arrow-left"></i> Voltar</a>
        </div>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="empresa" class="col-sm-1 col-md-1 col-lg-1 control-label">Empresa</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <select class="form-control" id="empresa" ng-init="ctrl.usuario.empresa_id = ''" ng-model="ctrl.usuario.empresa_id" ng-options="empresa.id as empresa.descricao for empresa in ctrl.empresa"></select>
                    </div>

                    <label for="nome" class="col-sm-1 col-md-1 col-lg-1 control-label">Nome</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <input type="text" class="form-control" id="nome" ng-model="ctrl.usuario.nome" placeholder="Nome">
                    </div>

                    <label for="email" class="col-sm-1 col-md-1 col-lg-1 control-label">Email</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <input type="email" class="form-control" id="email" ng-model="ctrl.usuario.email" placeholder="Email">
                    </div>

                </div>
                <div class="form-group">
                    <label for="regional" class="col-sm-1 col-md-1 col-lg-1 control-label">Regional</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <input type="regional" class="form-control" id="regional" ng-model="ctrl.usuario.regional" placeholder="Regional">
                    </div>

                    <label for="login" class="col-sm-1 col-md-1 col-lg-1 control-label">Login</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <input type="text" class="form-control" id="login" ng-model="ctrl.usuario.username" placeholder="Login">
                    </div>

                    <div ng-if="ctrl.action !== 'edit'">
                        <label for="password" class="col-sm-1 col-md-1 col-lg-1 control-label">Senha</label>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <input type="password" class="form-control" id="password" ng-model="ctrl.usuario.password" placeholder="Senha">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="type_user" class="col-sm-3 col-md-2 col-lg-2 control-label">Tipo do Usuário</label>
                    <div class="col-sm-5 col-md-6 col-lg-6">
                        <label class="radio-inline"><input ng-model="ctrl.usuario.type_user" type="radio" name="type_user" value="Guest">Guest</label>
                        <label class="radio-inline"><input ng-model="ctrl.usuario.type_user" type="radio" name="type_user" value="Administrativo">Administrativo</label>
                        <label class="radio-inline"><input ng-model="ctrl.usuario.type_user" type="radio" name="type_user" value="Fiscal">Fiscal</label>
                    </div>
                    <label for="status" class="col-sm-1 col-md-1 col-lg-1 control-label">Status</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <select class="form-control" id="status" ng-init="ctrl.usuario.status = 'A'" ng-model="ctrl.usuario.status" ng-options="status.id as status.desc for status in ctrl.status"></select>
                    </div>
                </div>
            </div>
            <hr class="col-sm-12 col-md-12 col-lg-12">

            <ul class="nav nav-tabs" id="usuario_roles" role="tablist">
                <li ng-show="ctrl.action === 'edit'" class="nav-item {{(ctrl.action === 'edit') ? 'active' : ''}}">
                    <a ng-click="ctrl.tab('#formulario', $event)" href="#formulario" class="nav-link active" id="formulario-tab" data-toggle="tab" role="tab" aria-controls="formulario" aria-selected="true">Formuláros</a>
                </li>
                <li class="nav-item {{(ctrl.action !== 'edit') ? 'active' : ''}}" >
                    <a ng-click="ctrl.tab('#regra', $event)" href="#regra" class="nav-link" id="regra-tab" data-toggle="tab" role="tab" aria-controls="regra" aria-selected="false">Regras</a>
                </li>
                <li class="nav-item">
                    <a ng-click="ctrl.tab('#premissao', $event)" href="#premissao" class="nav-link" id="premissao-tab" data-toggle="tab" role="tab" aria-controls="premissao" aria-selected="false">Permissões</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div ng-show="ctrl.action === 'edit'" class="tab-pane {{(ctrl.action === 'edit') ? 'active in' : 'fade'}}" id="formulario" role="tabpanel" aria-labelledby="formulario-tab">
                    <div class="box" style="padding-bottom: 15px;">
                        <div class="box-header" style="padding-top:20px;">
                            <h3 class="box-title" data-toggle="tooltip" data-placement="right" title="Listagem de Regras">Formulários</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <div
                                ui-grid="gridOptions"
                                ui-grid-pagination
                                class="grid"
                                ui-grid-auto-resize
                                ui-grid-resize-columns
                                ui-grid-pinning
                                ui-grid-save-state
                                ui-grid-selection></div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane {{(ctrl.action !== 'edit') ? 'active in' : 'fade'}}" id="regra" role="tabpanel" aria-labelledby="regra-tab">
                    <div class="box" style="padding-bottom: 15px;">
                        <div class="box-header" style="padding-top:20px;">
                            <h3 class="box-title" data-toggle="tooltip" data-placement="right" title="Listagem de Regras">Regras</h3>
                            <div class="box-tools">
                                <div class="input-group pull-right" style="width: 200px;">
                                    <input
                                        type="text"
                                        id="query_role"
                                        class="form-control"
                                        ng-model="query_role"
                                        placeholder="Listagem de Roles" />
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-condensed table-striped">
                                <tr>
                                    <th>Regra</th>
                                    <th>Check</th>
                                </tr>
                                <tr ng-repeat="role in ctrl.roles| filter:query_role">
                                    <td>{{role.desc}}</td>
                                    <td>
                                        <input  ng-checked="ctrl.listPermissionsAccessExists(role.desc, ctrl.roles_selected)"
                                                ng-click="ctrl.listPermissionsAccessToggle(role.desc, ctrl.roles_selected)"
                                                type="checkbox" name="roles_selected" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="premissao" role="tabpanel" aria-labelledby="premissao-tab">
                    <div class="box" style="padding-bottom: 15px;">
                        <div class="box-header" style="padding-top:20px;">
                            <h3 class="box-title" data-toggle="tooltip" data-placement="right" title="Listagem de permissões">Permissões</h3>
                            <div class="box-tools">
                                <div class="input-group pull-right" style="width: 180px;">
                                    <input
                                        type="text"
                                        id="query"
                                        class="form-control"
                                        ng-model="query"
                                        placeholder="Listagem de Roles" />
                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <hr style="margin: 15px 10px 5px 10px;">
                                <div class="col-sm-4">Master Editor</div>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input
                                            ng-model="ctrl.usuario.master_editor"
                                            class="form-check-input"
                                            type="checkbox"
                                            id="master_editor" />
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-condensed table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Regra</th>
                                </tr>
                                <tr ng-repeat="permission in ctrl.permissions| filter:query">
                                    <td><input
                                            ng-checked="ctrl.listPermissionsAccessExists(permission.id, ctrl.permissions_selected)"
                                            ng-click="ctrl.listPermissionsAccessToggle(permission.id, ctrl.permissions_selected)"
                                            type="checkbox"
                                            name="permissions_selected" />
                                    </td>
                                    <td>{{permission.descricao}}</td>
                                    <td>{{permission.regra}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.save()"> <i class="fa fa-floppy-o"></i> Gravar</button>
        </div><!-- /.box-footer -->
    </form>
    <div class="overlay" ng-show="!ctrl.isLoaded">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>