<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-th-list"></i>
        <a href="javascript:;" class="new-registry" data-ng-click="list.add()" title="Criar novo item"><i class="fa fa-plus"></i> Novo</a>
    </div><!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">

        <div ui-grid="gridOptions" ui-grid-pagination class="grid" ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning ui-grid-save-state ui-grid-selection>
            <a role="button" class="reload-data" ng-click="list.showSendMessageBox()">
                <i class="fa fa-commenting-o" title="Enviar mensagem para os celulares dos usuários."></i>
            </a>
        </div>

    </div>
    <div class="overlay" ng-show="!list.isLoaded">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>