<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa {{ctrl.title.icon}}"></i>&nbsp;{{ctrl.title.label}}
        <div class="box-tools pull-right">
            <a href="javascript:;" data-ng-click="ctrl.cancel()" title="Voltar"><i class="fa fa-ban"></i> Cancelar</a>
        </div>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            
            <div class="form-group">
                <label for="senha_atual" class="col-sm-2 control-label">Senha Atual</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="senha_atual" ng-model="ctrl.usuario.senha_atual" placeholder="Senha">
                </div>
            </div>
            
            <div class="form-group">
                <label for="senha_nova" class="col-sm-2 control-label">Nova Senha</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="senha_nova" ng-model="ctrl.usuario.senha_nova" placeholder="Senha">
                </div>
            </div>
            
            <div class="form-group">
                <label for="senha_nova_confirmacao" class="col-sm-2 control-label">Confirma Senha</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" id="senha_nova_confirmacao" ng-model="ctrl.usuario.senha_nova_confirmacao" placeholder="Senha">
                </div>
            </div>
            
        </div><!-- /.box-body -->
        <div class="box-footer">
            <button type="button" class="btn btn-primary pull-right" ng-click="ctrl.save()"> <i class="fa fa-floppy-o"></i> Gravar</button>
        </div><!-- /.box-footer -->
    </form>
    <div class="overlay" ng-show="!ctrl.isLoaded">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>