<style>
    .angular-google-map-container {
        height: 300px;
    }
    .chart_height {
        height: 250px;
    }
    .morris-hover.morris-default-style {
        border-radius: 10px;
        padding: 6px;
        color: #666;
        background: rgba(255,255,255,.8);
        border: solid 2px rgba(230,230,230,.8);
        font-family: sans-serif;
        font-size: 12px;
        text-align: center;
    }
    .morris-hover {
        position: absolute;
        z-index: 1000;
    }    
</style>

<div class="row">
    <div class="col-sm-12">   
    </div>
</div>