<ul class="sidebar-menu">
    <li class="header">Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">
        <a href="#"><i class='fa fa-th-list'></i> <span>Cadastro</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a ng-href="#usuario"><i class="fa fa-user"></i>Usuário</a></li>
            <li><a ng-href="#cliente"><i class="fa fa-male"></i>Cliente</a></li>
            <li><a ng-href="#projeto"><i class="fa fa-cubes"></i>Projeto</a></li>
            <li><a ng-href="#empresa"><i class="fa fa-building"></i>Empresa</a></li>
            <li><a ng-href="#diretorio"><i class="fa fa-folder-open"></i>Diretório</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"><i class='fa fa-bar-chart-o'></i> <span>Relatório</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a ng-href="#relatorio/header"><i class="fa fa-file-text"></i>Respostas</a></li>
        </ul>
    </li>
</ul>
