/* Personalização das flash-messages */
.chosen-container-multi .chosen-choices li.search-field input[type=text]{
    height:30px;
}
.alert {
    padding: 10px 15px;
}

.alert h4 {
    margin-bottom: 5px;
}

.flash-helper {
    left: 50%;
    margin-left: -12.5%;
    position: fixed;
    top: 50px;
    width: 25%;
    z-index:9999;
}

.autocomplete {
    border: 1px solid #d2d6de;
    max-height: 200px;
    min-height: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    background-color: white;
    position: absolute;
    z-index: 999;
    width: 100%;
    margin-top: 6px;
}

.autocomplete div {
    padding: 5px 16px 5px 10px;
    white-space: nowrap;
}

.autocomplete div:hover {
    background-color: blue;
    color: white;
}

div.taglist { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; }
div.taglist span.tag { border: 1px solid #adadad; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #e6e6e6; color: #333; margin-right: 5px; margin-bottom:5px;font-family: sans-serif; font-size:13px;}
div.taglist span.tag a { font-weight: bold; color: #333; text-decoration:none; font-size: 11px; }
div.taglist div.tag-input input { width:80px; margin:0px; font-family: sans-serif; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px; margin-right:5px; margin-bottom:5px; }
.tags_clear { clear: both; width: 100%; height: 0px; }

.fa-sort {
    cursor: move;
    cursor: -webkit-grabbing;
}

.m5L {
    margin-left: 5px !important
}
.m5r {
    margin-right: 5px !important
}
.m5t {
    margin-top: 5px !important
}
.m5b {
    margin-bottom: 5px !important
}
.m10L {
    margin-left: 10px !important
}
.m10r {
    margin-right: 10px !important
}
.m10t {
    margin-top: 10px !important
}
.m10b {
    margin-bottom: 10px !important
}

.badge-danger {
    background-color: #d43f3a;
}

.badge-warning {
    background-color: #d58512;
}

.badge-success {
    background-color: #398439;
}

.badge-info {
    background-color: #269abc;
}

.badge-inverse {
    background-color: #333333;
}

.body-container{
    width: 100%;
    height: 900px;
    border-left: none;
    border-right: none;
    position: relative;
    padding: 5px;
}

.video-container{
    position: absolute;
    top: -7%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    z-index: auto;
    opacity: 0.78;
    width: 100%;
}

/*
    Mudança para as setas do menu ficarem para baixo e para cima
    Sobreescrita do template padrão do admin
*/

.sidebar-menu li > a > .fa-angle-down {
    text-align: center;
}

.sidebar-menu li.active > a > .fa-angle-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* Classe para estilizar o botão "Esqueci minha senha" */

.esqueci-senha {
    cursor: pointer;
}

/* Classe para estilizar o cursor das ações do grid */

.ui-grid-row .fa {
    cursor: pointer;
}

/* Classe para destacar o botão de exportação de relatório */

.csv-export,
.tree-label .fa-download {
    color: #007233;
    cursor: pointer;
}

.csv-export:hover,
.tree-label .fa-download {
    color: #007233;
    opacity: .6;
}

/*
    Botão de apagar registro
    A mudança está atrelada a classe do ícone, deve ser alterada numa eventual mudança
*/

.delete-registry,
.tree-label .fa-times {
    color: #d40000;
}

/* Tamanho de texto do título da área em que o usuário esteja */

.box-header {
    font-size: 16px;
}

/*
    Botão de ação que fica no canto superior direito
    Ações como adicionar um novo registro ou voltar da edição
*/

.box-header > .box-tools {
    padding: 5px 0;
}

.box-header > .box-tools a {
    color: #0044aa;
    font-size: 16px;
}

.box-header > .box-tools .fa {
    font-size: 13px;
}

/* Ajuste do cursor no menu */

.sidebar-mini.sidebar-collapse .sidebar-menu > li > a,
.skin-blue .sidebar-menu > li > a,
.sidebar-menu .treeview-menu > li > a {
    cursor: pointer;
}

/* Espaçamento dos itens do submenu */

.sidebar-menu .treeview-menu .treeview-menu {
    padding-left: 5px;
}

/* Ajuste nas opções do usuário */

.user {
    cursor: pointer;
}

/* Ícone de edição */

.fa-pencil,
.fa-edit {
    color: #E19026;
}

/* Ícone de ligação */

.fa-link {
    color: #2F2F2F;
}

/* Ícone de associação de registros */

.fa-code-fork {
    color: #405;
}

/* Ícone para trocar status de diretório/formulário */

.fa-toggle-on,
.fa-toggle-off {
    color: #a94442;
}

/* Link para criar um novo registro */

.new-registry,
.box-header > .box-tools .new-registry {
    color: #5cb85c;
    display: block;
}

.new-registry {
    margin-top: 10px;
}

.box-header > .box-tools .new-registry {
    margin: 5px 10px 0 0;
}

.new-registry:hover,
.box-header > .box-tools .new-registry:hover,
.new-registry:active,
.box-header > .box-tools .new-registry:active {
    color: #5cb85c;
    opacity: .85;
}

/* Legenda para informar a versão do formulário */

.form-version {
    cursor: default;
    margin-left: 10px;
}

/* Breadcrumbs de Diretórios */

.breadcrumb li,
.breadcrumb li.active {
    color: #23527c;
    cursor: pointer;
}

.breadcrumb li:first-of-type,
.breadcrumb li:first-of-type:hover {
    color: #333;
    cursor: default;
}

.breadcrumb li:hover {
    color: #72afd2;
}

/* Aviso de formulário inativo */

.tree-label .text-danger {
    position: relative;
}

.tree-label .text-danger::after {
    background: #fff;
    content: 'Diretório ou Formulário inativo';
    display: none;
    font-weight: normal !important;
    padding: 0px 5px;
    position: absolute;
    right: -220px;
    top: -1px;
    width: 205px;
    z-index: 1;
}

.tree-label .text-danger:hover::after {
    display: block;
}

/* Recarregar dados da grid */

.reload-data {
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 3px 0 0 410px;
    padding: 2px 10px;
    position: relative;
    z-index: 1;
}

.reload-data i {
    transition: transform .25s linear;
}

.reload-data:hover i {
    color: #333;
    transform: rotate(180deg);
}

/* Sobreescrita de estilos do mapa */

#js-map-box .angular-google-map,
#js-map-box .angular-google-map-container {
    height: 100% !important; /* Força bruta para aumentar a altura dele */
}

/* Estilo indicativo do tooltip de informação */

*[data-toggle="tooltip"] {
    border-bottom: 1px dashed #ccc;
    cursor: help;
}

*[data-toggle="tooltip"][data-original-title=""] {
    border-bottom: 0;
    cursor: default;
}

a[data-toggle="tooltip"] {
    border-bottom: 0;
    cursor: pointer;
}

/* Ajuste de altura para o vis */

.vis-box {
    height: 300px;
}
