<div class="box box-primary">
    <!-- form start -->
    <div class="box-body">
        <table class="table table-striped table-condensed">
            <tr>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="prod in list.products">
                <td>{{prod.description}}</td>
                <td>{{prod.price  | currency:'€ '}}</td>
                <td>
                    <a href="javascript:;" data-ng-click="list.addProduct(prod.id)" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="overlay" ng-show="!list.isLoaded">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
</div>