<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">Menu</li>
        <!-- Optionally, you can add icons to the links -->
            <li><a ng-href="#products"><i class="fa fa-list-ul"></i><span>Produtos</span></a></li>
            <li><a ng-href="#orders"><i class="fa fa-shopping-cart"></i><span>Carrinho</span></a></li>

    </ul>
</section>

<!-- /.sidebar -->