<!-- Logo -->
<a ng-href="#/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>O</b>S</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Online</b>STORE</span>
</a>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <!-- Messages: style can be found in dropdown.less-->
            <!-- User Account Menu -->
            <li class="dropdown user user-menu" ng-show="main.isLoggedIn()">
                <a ng-href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="hidden-xs" ng-bind="main.getUserName()"></span><i class="fa fa-lg fa-user m10L"></i>
                </a>
                <ul class="dropdown-menu">
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            <a ng-href="" class="btn btn-default btn-flat" ng-click="main.trocaSenha()"><i class="fa fa-lock"></i> Trocar senha</a>
                        </div>
                        <div class="pull-right">
                            <a ng-href="" class="btn btn-default btn-flat" ng-click="main.logout()"><i class="fa fa-sign-out"></i> Sair</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>