<!DOCTYPE html>
<html ng-app="app" ng-controller="MainCtrl as main">
    <head>
        <meta charset="UTF-8">
        <title>Online Store</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

        <!-- build:css assets/css/vendor.css -->
        <link rel="stylesheet" href="../bower_components/chosen/chosen.min.css">
        <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/all.css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/font-awesome-bower/css/font-awesome.css">
        <link rel="stylesheet" href="../bower_components/ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="../bower_components/adminlte-bower/dist/css/AdminLTE.min.css">
        <link rel="stylesheet" href="../bower_components/adminlte-bower/dist/css/skins/skin-blue.min.css">
        <link rel="stylesheet" href="../bower_components/angular-tree-control/css/tree-control.css">
        <link rel="stylesheet" href="../bower_components/angular-tree-control/css/tree-control-attribute.css">
        <link rel="stylesheet" href="../bower_components/ngDialog/css/ngDialog.min.css">
        <link rel="stylesheet" href="../bower_components/ngDialog/css/ngDialog-theme-default.min.css">
        <link rel="stylesheet" href="../bower_components/ngDialog/css/ngDialog-theme-plain.min.css">
        <link rel="stylesheet" href="../bower_components/ngDialog/css/ngDialog-custom-width.css">
        <link rel="stylesheet" href="../bower_components/angular-ui-grid/ui-grid.min.css">
        <link rel="stylesheet" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css">
        <link rel="stylesheet" href="../bower_components/vis/dist/vis.min.css">
        <!-- endbuild -->

        <!-- build:css assets/css/local.css -->
        <link rel="stylesheet" href="assets/css/index.css">
        <!-- endbuild -->

    </head>
    <!--
    BODY TAG OPTIONS:
    =================
    Apply one or more of the following classes to get the
    desired effect
    |---------------------------------------------------------|
    | SKINS         | skin-blue                               |
    |               | skin-black                              |
    |               | skin-purple                             |
    |               | skin-yellow                             |
    |               | skin-red                                |
    |               | skin-green                              |
    |---------------------------------------------------------|
    |LAYOUT OPTIONS | fixed                                   |
    |               | layout-boxed                            |
    |               | layout-top-nav                          |
    |               | sidebar-collapse                        |
    |               | sidebar-mini                            |
    |---------------------------------------------------------|
    -->
    <body class="skin-blue sidebar-mini sidebar-collapse">

        <div class="wrapper">

            <!-- Main Header -->
            <header class="main-header" ng-show="main.isLoggedIn()" ng-include="'_header.html'" onload='main.ativandoHeader()'>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar" ng-show="main.isLoggedIn()" ng-include="'_aside.html'" onload='main.ativandoMenu()'>
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        <span ng-bind="main.header.title" data-toggle="tooltip" data-placement="right" data-original-title="{{ main.header.text}}"></span>
                        <small ng-bind="main.header.description"></small>
                    </h1>
                    <!--ol class="breadcrumb">
                      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                      <li class="active">Here</li>
                    </ol-->
                    <div class="alert {{main.getFlashClass()}} alert-dismissable flash-helper" ng-show="main.hasFlashMessage()">
                        <h4><i class="{{main.getFlashIcon()}}"></i> <span ng-bind="main.getFlashHeader()"></span></h4>
                        <span ng-bind="main.getFlashMessage()"></span>
                    </div>
                </section>

                <!-- Main content -->
                <section class="content" ng-view="">

                    <!-- Your Page Content Here -->

                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->

            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                    versão 1.0
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2018 <a href="#">New adVentures &COPY;</a>.</strong> All rights reserved.
            </footer>



        </div><!-- ./wrapper -->


        <!-- build:js vendor.js-->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/jquery-ui/jquery-ui.min.js"></script>
        <script src="../bower_components/chosen/chosen.jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/adminlte-bower/dist/js/app.min.js"></script>
        <script src="../bower_components/bootstrap/js/tooltip.js"></script>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/ngstorage/ngStorage.js"></script>
        <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="../bower_components/angular-route/angular-route.min.js"></script>
        <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="../bower_components/angular-tree-control/angular-tree-control.js"></script>
        <script src="../bower_components/ngDialog/js/ngDialog.min.js"></script>
        <script src="../bower_components/ng-tasty/ng-tasty-tpls.js"></script>
        <script src="../bower_components/angular-ui-grid/ui-grid.min.js"></script>
        <script src="../bower_components/angular-taglist/js/angular-taglist-directive.js"></script>
        <script src="../bower_components/angular-ng-sortablejs/Sortable.min.js"></script>
        <script src="../bower_components/angular-ng-sortablejs/ng-sortable.js"></script>
        <script src="../bower_components/lodash/dist/lodash.min.js"></script>
        <script src="../bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
        <script src="../bower_components/angu-fixed-header-table/angu-fixed-header-table.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="../bower_components/checklist-model/checklist-model.js"></script>
        <script src="../bower_components/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
        <script src="../bower_components/vis/dist/vis.min.js"></script>
        <script src="../bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
        <script src="../bower_components/angular-visjs/angular-vis.js"></script>
        <script src="../bower_components/raphael/raphael-min.js"></script>
        <script src="../bower_components/angular-morris-chart/src/angular-morris-chart.min.js"></script>
        <script src="../bower_components/morris.js/morris.min.js"></script>
        <script src="../bower_components/jspdf/dist/jspdf.debug.js"></script>
        <script src="../bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
        <script src="../bower_components/angular-input-masks/angular-input-masks.min.js"></script>
        <script src="../bower_components/angular-locale-pt-br/angular-locale_pt-br.js"></script>
        <script src="../bower_components/angular-chosen-localytics/dist/angular-chosen.min.js"></script>
        <script src="../bower_components/angular-bootstrap-multiselect/dist/angular-bootstrap-multiselect.min.js"></script>
        <!-- endbuild -->

        <!-- build:js local.js -->
        <script src="app/utility.js"></script>
        <script src="app/app.js"></script>
        <script src="app/usuario/usuario.module.js"></script>
        <script src="app/main/main.module.js"></script>
        <script src="app/auth/auth.module.js"></script>
        <script src="app/core/core.module.js"></script>
        <script src="app/header/header.module.js"></script>
        <script src="app/auth/auth.service.js"></script>
        <script src="app/core/flash.service.js"></script>
        <script src="app/core/menu.service.js"></script>
        <script src="app/main/main.service.js"></script>
        <script src="app/header/header.service.js"></script>
        <script src="app/usuario/usuario.service.js"></script>

        <script src="app/auth/auth.esqueciSenhaCtrl.js"></script>
        <script src="app/auth/auth.interceptor.js"></script>
        <script src="app/auth/auth.loginAutoCtrl.js"></script>
        <script src="app/auth/auth.loginCtrl.js"></script>
        <script src="app/componentes/StateService.js"></script>
        <script src="app/componentes/directives.emptytonull.js"></script>
        <script src="app/componentes/directives.format.js"></script>
        <script src="app/componentes/uiGrid.filterService.js"></script>
        <script src="app/componentes/uigrid_filter_tpl.js"></script>
        <script src="app/core/core.constants.js"></script>
        <script src="app/core/core.filters.js"></script>
        <script src="app/main/main.controller.js"></script>
        <script src="app/usuario/usuario.addCtrl.js"></script>
        <script src="app/usuario/usuario.editCtrl.js"></script>
        <script src="app/usuario/usuario.listCtrl.js"></script>
        <script src="app/usuario/usuario.trocaSenhaCtrl.js"></script>
        <script src="app/usuario/diretiva.techxUserPermissionNodeItem.js"></script>

        <script src="app/products/products.module.js"></script>
        <script src="app/products/products.service.js"></script>
        <script src="app/products/products.listCtrl.js"></script>

        <script src="app/orders/orders.module.js"></script>
        <script src="app/orders/orders.service.js"></script>
        <script src="app/orders/orders.listCtrl.js"></script>

        <!-- endbuild -->
    </body>
</html>
